/*button*/
.button {
  .button();
  &--search {

  }
  &:hover {
    background-color: @button-hover;
  }

  &:active {
    background-color: @button-active;
    color: #ffffff4d;
  }

  &:disabled {
    background-color: @button-disable;
  }
  &--modal-error {
    font-size: 18px;
    padding: 20px 64px 20px 63px;
    margin-left: 27px;
    width: 180px;
    @media (min-width: @tablet-width) {
      width: 272px;
    }
  }
  &--modal-success {
    font-size: 18px;
    width: 280px;
    padding: 20px 65px 20px 60px;

    @media (min-width: @tablet-width) {
      width: 458px;
      font-size: 21px;
    }
  }
}
