/*emotion-users*/
.emotion-users{
  padding: 30px 20px 0px;
  @media (min-width: @tablet-width) {
    grid-column: 1/3;
  }
  @media (min-width: @desktop-width) {
    padding: 30px 81px 0px; 
  }
}

.emotion-users__title{
  position: relative;
}

.emotion-users__title::before{
  @media (min-width: @tablet-width) {
    content: "";
    border-bottom: 1px solid @button-disable;
    width: 18%;
    height: 12px;
    position: absolute;
    top: 0;
    margin-left: calc(-34% - 10px);
  }
 }

 .emotion-users__title::after{
    @media (min-width: @tablet-width) {
    content: "";
    border-bottom: 1px solid @button-disable;
    width: 20%;
    height: 12px;
    position: absolute;
    top: 0;
    margin-left: 88px;
  }
 }
.emotion-users__text{
  box-sizing: border-box;
  width: 100%;
  .heading();
  text-transform: none;
  text-align: left;
  padding: 20px;
  border: 0;
  background-color: @input-color;
  outline: 0;
  outline-offset: 0;
  &:hover{
    background-color: @button-disable;
    color: @black;
  }
  &:active{
    border: 3px solid @button-disable;
  }
  &:focus{
    background-color: @white;
    border: 3px solid @button-disable;

  }
  &::placeholder{
    color: rgba(0, 0, 0, .3);
  }
  @media (min-width: @desktop-width) {
  padding: 28px 20px;
  }
}
