/*page-header*/ /*24.08*/
.page-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: @white;
  @media (min-width: @tablet-width) {

  }
  }


.page-header__logo{
  margin: 0 auto;
  height: 96px;
  width: 185px;
  text-align: center;
  z-index: 2;
  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.page-header__logo-image{

}


