/*page-footer*/
.page-footer{
  .position-unblock();
  height: 243px;
  @media (min-width: @tablet-width) {
    height: 120px;
  }
}

.page-footer__wrapper{
  width: 158px;
  height: 181px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 19px;
  @media (min-width: @tablet-width) {
    width: 645px;
    height: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

  }
  @media (min-width: @desktop-width) {
    width: 964px;
  }
}

.page-footer__visit{

}

.page-footer__social{
margin: 0 auto;
}
.page-footer__copyright{
  margin: 0 auto;
  @media (min-width: @tablet-width) {
    margin-right: auto;
  }
}
