/*social*/
.social{
  width: 158px;
}

.social__list{
  width: 100%;
  .list-reset();
  display: flex;
  justify-content: space-between;
}

.social__item{
  width: 48px;
  height: 48px;
  background-color: @blue;
}

.social__link{
  .link-reset();
  
  
  &--vkontakte{

  }
  &--telegram{

  }
  &--youtube{

  }
}

.social__image-icon{
  padding: 16px 13px;
}
